/app/node_modules/**/*
/app/.expo/*
/app/npm-debug.*
/app/*.jks
/app/*.p8
/app/*.p12
/app/*.key
/app/*.mobileprovision
/app/*.orig.*
/app/web-build/

# macOS
/app/.DS_Store
/server/app/C:\Users\AndrewGaming\Desktop\Dev\follow-fido\server\app\follow-fido-firebase-adminsdk-qwws6-a32456e0db.json